<div class="about-sec">
    <div class="container-custom mx-auto flex flex-wrap">
        <div class="w-full lg:w-2/5 xl:w-[47%] relative lg:absolute left-0 lg:h-full ">
        
          <div id="splide" class="splide lg:-mx-[15px] h-full">
            <div class="splide__track h-full">
                <ul class="splide__list h-full">
                    <li class="splide__slide h-full"><div class="slide-img h-full"><img src="images/ab-banner.jpg" class="block w-full max-h-full  h-full object-cover" alt="..." /></div></li>

                    <li class="splide__slide h-full"><div class="slide-img h-full"><img src="images/dtl2.jpg" class="block  w-full max-h-full h-full object-cover" alt="..." /></div></li>
                </ul>
            </div>
        </div>  
        </div>
        <div class="w-full overflow-hidden overflow-visible lg:w-3/5 xl:w-[50.6%] about-content ml-auto">
            <h3>{{name}}</h3>
            {{convertRTFToHTML description}}
            {{!-- <b>Quality ingredients, sustainably sourced, cooked with care and served locally</b>
            <p>In 2003, our founding mission was to build a network of local restaurants and takeaways serving the very best quality Fish & Chips throughout Britain.</p>
 <p>Since then, we have surpassed our goals and are the nation’s largest community of Fish & Chip restaurants and takeaways. We are proud to be cooking Britain’s favourite meal in iconic British locations, loved by locals and visitors alike.
</p>

 <p>We think everyone should get a chance to try our Fish & Chips, so we’re working to spread the joy as widely as we can. As we move to new towns and cities, our hardworking teams will ensure we remember what makes us who we are; enthusiasts of quality, sustainable and deliciously traditional Fish & Chips.
</p>

 <p>We’re Britain’s favourite because we stick to what we do best; Great British Fish & Chips, served with care.
</p> --}}
        </div>
    </div>
</div>