<div class="nearby-sec">
    <div class="container-custom mx-auto">
        <div class="w-full text-center">
            <h3>NEARBY LOCATIONS</h3>
        </div>
        <div id="splide-near" class="splide ">
            <div class="splide__track">
                <ul class="splide__list location-data">

                </ul></div></div>
    </div>
</div>

 <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        var baseURL = "https://liveapi-sandbox.yext.com/v2/accounts/me/entities/geosearch?";
        var api_key = "{{global.liveApiKey}}";
        var vparam = "20181017";
        var lat = "{{latitude}}";
        var lng = "{{longitude}}";
        var location = lat + ", " + lng;
        var limit = 3;
        var radius = 2000;
        var savedFilterIds = "";
        var entityTypes =
            "restaurant";
        var fields = "name,hours,slug,neighborhood,address,mainPhone";
        const savedSearchIdString = "";
        var fullURL =
            baseURL +
            "api_key=" +
            api_key +
            "&v=" +
            vparam +
            "&location=" +
            location +
            "&limit=" +
            (limit + 1) +
            "&radius=" +
            radius +
            "&entityTypes=" +
            entityTypes +
            "&fields=" +
            fields +
            "&resolvePlaceholders=true";
        [].slice
            .call(document.querySelectorAll(".location-data") || [])
            .forEach(function (el) {
                el.innerHTML = '<div class="col">Loading...</div>';
            });
        //$.get(fullURL, function (data) {
        fetch(fullURL).then(response => response.json()).then(data => {
            //entities = data.response.entities;
            entities = data.response.entities;
            [].slice
                .call(document.querySelectorAll(".location-data") || [])
                .forEach(function (el) {
                    el.innerHTML = "";
                });
            if (
                entities.length == 0 ||
                (entities.length == 1 && entities[0].meta.id == "{{id}}")
            ) {
                [].slice
                    .call(document.querySelectorAll(".location-data") || [])
                    .forEach(function (el) {
                        el.innerHTML = '<div class="col">No Locations Found</div>';
                    });
            }
            
            for (var i = 1; i < entities.length; i++) {
                location = entities[i];
                locationHTML = "";
                if (true) {
                        locationHTML =
                            '<li class="splide__slide"><div class="near-location"><h4><a href=' + location.slug + '>' +
                            location.name +
                            '</a></h4><div class="store-address" href="https://www.google.com/maps/dir/?api=1&origin=' + lat + ',' + lng + '&destination=' + location.address.line1 + ' "><svg xmlns="http://www.w3.org/2000/svg" width="19.23" height="28" viewBox="0 0 21.23 30"><g transform="translate(0 0)"><path d="M6.789,23.576c1.079,1.719,2.246,3.8,3.4,5.825.427.747.813.859,1.326-.027,1.113-1.931,2.207-3.931,3.359-5.8,3.5-5.661,9.223-11.181,4.67-18.8C15.5-1.987,4.5-1.265,1.216,5.034c-3.769,7.219,2.117,13.039,5.574,18.542Z" fill="#fff" fill-rule="evenodd" /><path d="M10.61,6.247a4.116,4.116,0,1,1-4.116,4.116A4.117,4.117,0,0,1,10.61,6.247Z" fill="#337DC6" fill-rule="evenodd" /></g></svg><p>' +
                            location.address.line1 +
                            '<br>' +
                            location.address.city + ', ' + location.address.region + ' ' + location.address.postalCode +
                            '</p></div>' + '<div class="store-phone"><svg xmlns="http://www.w3.org/2000/svg" width="15.35" height="23.96" viewBox="0 0 14.35 22.96"><path id="Icon_awesome-mobile-alt" data-name="Icon awesome-mobile-alt" d="M12.2,0H2.152A2.153,2.153,0,0,0,0,2.152V20.807A2.153,2.153,0,0,0,2.152,22.96H12.2a2.153,2.153,0,0,0,2.152-2.153V2.152A2.153,2.153,0,0,0,12.2,0ZM7.175,21.525A1.435,1.435,0,1,1,8.61,20.09,1.433,1.433,0,0,1,7.175,21.525ZM12.2,16.682a.54.54,0,0,1-.538.538H2.691a.54.54,0,0,1-.538-.538V2.691a.54.54,0,0,1,.538-.538h8.969a.54.54,0,0,1,.538.538Z" fill="#fff" /></svg><p><a href="tel:' + location.mainPhone + '" class="phone">' + location.mainPhone + '</a></p></div>' + '<div class=" store-link"><a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=' + lat + ',' + lng + '&destination=' + location.address.line1 + ' " class="direction">' + 'Get Direction <svg xmlns="http://www.w3.org/2000/svg" width="16.843" height="11.547" viewBox="0 0 13.843 9.547"><path id="Icon_ionic-md-arrow-forward" data-name="Icon ionic-md-arrow-forward" d="M-.023,11.347H11.523L8.181,14.688l.865.835L13.82,10.75,9.046,5.977l-.835.835,3.312,3.342H-.023Z" transform="translate(0.023-5.977)" /></svg>' + '</a></div></li>';
                    [].slice
                    .call(document.querySelectorAll(".location-data") || [])
                    .forEach(function (el) {
                    el.innerHTML += locationHTML;
                    });
                }
            }
        });
    });
</script>